@model BandZone.BL.Venue

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="venue-delete-wrapper">

        <h3>Are You Sure You Want to Delete This?</h3>
        <div>
           
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.VenueName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VenueName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OpenTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OpenTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CloseTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CloseTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContactEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProfileImage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProfileImage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LoginEmail)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LoginEmail)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Html.ActionLink("Back to List", "Index") | 
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>

</div>