@model IEnumerable<BandZone.BL.Venue>

@{
    ViewBag.Title = " Venue Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header - set the background image for the header in the line below -->
<div class="banner_list">
    <div class="bg-image-full" style="background-image: url('../../images/bar_banner.jpg');">
        <h1 class="centered display-2 font-weight-bold text-white">Bars & Restaurants</h1>
    </div>
</div>


<div class="venue-index-wrapper">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.ActionLink(item.VenueName, "Details", "Venue", new { Id = item.VenueId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
            </tr>
        }
    </table>


    <div class="venue-call-to-action">
        <h3>Sign up your Bar or Restaurant</h3>
        <p class="text-secondary">If you are a bar or restaurant and would like to join BandZone, sign up now.</p>
        <button class="btn btn-large btn-info">@Html.ActionLink("Create an account", "Create")</button>
    </div>
</div>