@model IEnumerable<BandZone.BL.Musician>

@{
    ViewBag.Title = "Musician Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header - set the background image for the header in the line below -->
<div class="banner_list">
    <div class="bg-image-full" style="background-image: url('../../images/guitar.jpg');">
        <h1 class="centered display-2 font-weight-bold text-white">Bands & Musicians</h1>
    </div>
</div>



<div class="musician-index-wrapper">

    @using (Html.BeginForm())
    {
        <p>
            Name: @Html.TextBox("searchString") <input type="submit" value="Search" />
            
        </p>
    }

    <table class="table table-striped ">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.BandMusicianName)
                </th>*@

            <th><!-- image --></th>
            <th>Musician Name</th>
            <th>Website</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ProfileImage)*@ [image]
                </td>
                <td>
                    @Html.ActionLink(item.BandMusicianName, "Details", "Musician", new { Id = item.MusicianId }, null)
                </td>
                <td>
                    <!-- TODO website link -->
                    <!-- the full http:// protocol must be included in the link
                        otherwise link will go to ~/url
                    -->
                    <a href="http://@Html.DisplayFor(ModelItem => item.Website)">@Html.DisplayFor(ModelItem => item.Website)</a>
                </td>
            </tr>
        }
    </table>

    <div class="musician-call-to-action">
        <h3>Sign up your Band</h3>
        <p class="text-secondary">If you are a band or a musician and would like to join BandZone, sign up now.</p>
        <button class="btn btn-large btn-info">@Html.ActionLink("Create an account", "Create")</button>
    </div>
</div>




